.itemComment{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    width: 70%;
    min-width: 750px;
    height: 76px;
    background: #282828;
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 15px;
  }
.paragraph{
  width: 836px;
  height: 38px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2;
  p{  
    margin-top: -8px;
    font-size: 14px;
    text-align: left;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
  }
  
  h3{
    margin-top: 0px;
    font-size: 12px;
    text-align: left;
    color: #a0a097;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
  }
}
.circleContainer{
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px; 
  .circle{
    width: 50px;
    height: 50px;
    background-color: #404040;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .itemComment{
      width: 80%;
      min-width: 600px;
  }
  .paragraph{   
    padding-left: 10px;
    }

} 

@media only screen and (max-width: 768px) {
  .itemComment{
    min-width: 430px;
}
  .paragraph{   
  padding-left: 10px;
  }
} 

@media only screen and (max-width: 500px) {
    
  .itemComment{
      min-width: 292px;
    }
  }