.buttonView{
        cursor: pointer;
        letter-spacing: 0.5px;
        outline: none;
        margin-right: 30px;
        font-family: 'Open Sans', sans-serif;
        width: 160px;
        height: 30px;
        border-radius: 40px;
        color: #ddd;
        background-color: rgba(31, 31, 31, 0.7);
        border: solid 1px #03bb4f;    
}