
.imputContainer {
    font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 51px;
    background-color: #282828;
    box-shadow: 1px 8px 17px -2px rgba(0,0,0,0.75);
    i{
        cursor: pointer;
        font-size: 18px;
        margin-top: 17px;
        margin-bottom: 15px;
        margin-left: 12%;
        width: 12px;
        height: 14px;
        position: absolute;
        color: #797878;
        padding-left: 7px;
    }
    .imputView {
        border: 0.5px solid #222222;
        padding-left: 25px;
        outline: none;
        margin-top: 14px;
        margin-bottom: 24px;
        margin-left: 12%;
        width: 75%;
        height: 24px;
        border-radius: 40px;
        background-color: #ffffff;

        ::-webkit-input-placeholder { 

            padding-left: 35px; 
            width: 41px;
            height: 17px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: left;
            color: #222222;
          }
    }
}